<article class="services spad" aria-labelledby="galeria-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title center-title">
          <h2 id="galeria-heading">Nosso Estúdio</h2>
          <p>Conheça nossa estrutura e equipamentos</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Foto 1 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/1.jpg" class="card-img-top" alt="Vista do Estúdio Principal"
              (click)="openImage('assets/img/estudio/1.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 2 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/10.jpg" class="card-img-top" alt="Equipamentos de Gravação"
              (click)="openImage('assets/img/estudio/10.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 3 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/12.jpg" class="card-img-top" alt="Área dedicada aos instrumentos musicais"
              (click)="openImage('assets/img/estudio/12.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 4 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/5.jpg" class="card-img-top" alt="Equipamentos de Gravação"
              (click)="openImage('assets/img/estudio/5.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 5 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/8.jpg" class="card-img-top" alt="Equipamentos de Gravação"
              (click)="openImage('assets/img/estudio/8.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 6 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/9.jpg" class="card-img-top" alt="Equipamentos de Gravação"
              (click)="openImage('assets/img/estudio/9.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 7 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/7.jpg" class="card-img-top" alt="Equipamentos de Gravação"
              (click)="openImage('assets/img/estudio/7.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 8 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/4.jpg" class="card-img-top" alt="Equipamentos de Gravação"
              (click)="openImage('assets/img/estudio/4.jpg')">
          </div>
        </div>
      </div>

      <!-- Foto 9 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/11.jpg" class="card-img-top" alt="Equipamentos de Gravação"
              (click)="openImage('assets/img/estudio/11.jpg')">
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- Image Viewer Component -->
<app-image-viewer></app-image-viewer>