<article class="services spad" aria-labelledby="galeria-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title center-title">
          <h2 id="galeria-heading">Nosso estúdio</h2>
          <p id="gallery-description">Conheça nossa estrutura e equipamentos profissionais de gravação e produção
            musical</p>
        </div>
      </div>
    </div>

    <div class="row" role="region" aria-labelledby="galeria-heading" aria-describedby="gallery-description">
      <!-- Foto 1 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/1.jpg" class="card-img-top"
              alt="Vista do Estúdio Principal com isolamento acústico e equipamentos profissionais"
              (click)="openImage('assets/img/estudio/1.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem do estúdio principal">
          </div>
        </div>
      </div>

      <!-- Foto 2 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/10.jpg" class="card-img-top"
              alt="Mesa de som profissional e equipamentos de gravação de última geração"
              (click)="openImage('assets/img/estudio/10.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem dos equipamentos de gravação">
          </div>
        </div>
      </div>

      <!-- Foto 3 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/12.jpg" class="card-img-top"
              alt="Área dedicada aos instrumentos musicais com diversos instrumentos disponíveis para gravação"
              (click)="openImage('assets/img/estudio/12.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem da área de instrumentos">
          </div>
        </div>
      </div>

      <!-- Foto 4 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/5.jpg" class="card-img-top"
              alt="Área de mixagem com monitores de áudio e interface de gravação"
              (click)="openImage('assets/img/estudio/5.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem da área de mixagem">
          </div>
        </div>
      </div>

      <!-- Foto 5 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/8.jpg" class="card-img-top"
              alt="Mesa de mixagem profissional com controles e faders" (click)="openImage('assets/img/estudio/8.jpg')"
              role="button" tabindex="0" aria-label="Clique para ampliar a imagem da mesa de mixagem">
          </div>
        </div>
      </div>

      <!-- Foto 6 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/9.jpg" class="card-img-top"
              alt="Equipamentos de áudio profissionais e processadores de efeitos"
              (click)="openImage('assets/img/estudio/9.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem dos equipamentos de áudio">
          </div>
        </div>
      </div>

      <!-- Foto 7 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/7.jpg" class="card-img-top"
              alt="Sala de gravação com tratamento acústico e microfones"
              (click)="openImage('assets/img/estudio/7.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem da sala de gravação">
          </div>
        </div>
      </div>

      <!-- Foto 8 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/4.jpg" class="card-img-top" alt="Interface de áudio e monitores de referência"
              (click)="openImage('assets/img/estudio/4.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem dos monitores de áudio">
          </div>
        </div>
      </div>

      <!-- Foto 9 -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-img-wrapper">
            <img src="assets/img/estudio/11.jpg" class="card-img-top"
              alt="Conjunto de equipamentos de gravação e processamento de áudio"
              (click)="openImage('assets/img/estudio/11.jpg')" role="button" tabindex="0"
              aria-label="Clique para ampliar a imagem do conjunto de equipamentos">
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- Image Viewer Component -->
<app-image-viewer></app-image-viewer>