<!-- Seção de Artistas -->
<section class="artistas spad" aria-labelledby="artistas-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title reveal fade-bottom">
          <h2 id="artistas-heading">Nossos Artistas</h2>
        </div>
      </div>
    </div>

    <div style="display:none">{{ debugRender('template renderizando') }}</div>
    <ng-container *ngFor="let artist of artists; let i = index">
      <article
        class="artist-card reveal"
        [class.fade-right]="i % 2 === 0"
        [class.fade-left]="i % 2 !== 0"
        role="article"
        [attr.aria-labelledby]="artist.id + '-heading'">
        <div class="row align-items-center">
          <div class="col-lg-6" [class.order-2]="i % 2 === 0" [class.order-lg-1]="i % 2 === 0" [class.order-1]="i % 2 !== 0" [class.order-lg-2]="i % 2 !== 0">
            <div class="artist-text">
              <h3 [id]="artist.id + '-heading'">{{ artist.name }}</h3>
              <p>{{ artist.description }}</p>
              <nav class="social-links" [attr.aria-label]="'Redes sociais de ' + artist.name">
                <ng-container *ngIf="artist.social.facebook">
                  <a [href]="artist.social.facebook" target="_blank" rel="noopener noreferrer"
                    [attr.aria-label]="'Siga ' + artist.name + ' no Facebook (abre em nova janela)'">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                  </a>
                </ng-container>
                <ng-container *ngIf="artist.social.youtube">
                  <a [href]="artist.social.youtube" target="_blank" rel="noopener noreferrer"
                    [attr.aria-label]="'Assista ' + artist.name + ' no YouTube (abre em nova janela)'">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                  </a>
                </ng-container>
                <ng-container *ngIf="artist.social.instagram">
                  <a [href]="artist.social.instagram" target="_blank" rel="noopener noreferrer"
                    [attr.aria-label]="'Siga ' + artist.name + ' no Instagram (abre em nova janela)'">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                  </a>
                </ng-container>
              </nav>
            </div>
          </div>
          <div class="col-lg-6" [class.order-1]="i % 2 === 0" [class.order-lg-2]="i % 2 === 0" [class.order-2]="i % 2 !== 0" [class.order-lg-1]="i % 2 !== 0">
            <div class="artist-img">
              <img [src]="artist.image"
                [alt]="artist.imageAlt"
                class="img-fluid"
                (click)="openImage(artist.image)"
                (keydown.enter)="openImage(artist.image)"
                role="button"
                tabindex="0"
                [attr.aria-label]="'Clique ou pressione Enter para ampliar a imagem de ' + artist.name">
            </div>
          </div>
        </div>
      </article>
    </ng-container>
  </div>
</section>

<!-- Image Viewer Component -->
<app-image-viewer role="dialog" aria-label="Visualizador de imagens"></app-image-viewer>