<section class="equipe-section">
  <div class="container">
    <div class="section-title">
      <h2>Nossa equipe</h2>
    </div>
    <div class="row">
      <!-- Card Joílson (C.O) -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="team-card">
          <div class="team-image">
            <div class="team-image placeholder-image">
            <div class="placeholder-text">Foto em breve</div>
          </div>
          </div>
          <div class="team-content">
            <h3>Joílson Santos</h3>
            <h4>Chief Officer (C.O) / Desenvolvedor Web</h4>
            <p>
              Músico prático há mais de vinte anos e fundador da Produtora Capijo e da Banda Cronologia.
              Formado em Gestão Pública, MBA em gestão de pessoas e Técnico em informática.
              Desenvolvedor web e proprietário da produtora, atualmente também atua como músico na Banda Cronologia.
            </p>
          </div>
        </div>
      </div>


      <!-- Card Bino (Diretor Artístico) -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="team-card">
          <div class="team-image">
            <img src="assets/img/equipe/bino.png" alt="Abner Reises">
          </div>
          <div class="team-content">
            <h3>Abner Reises</h3>
            <h4>Diretor Artístico</h4>
            <p>
              Filho de fotógrafos, iniciei minha carreira aos 16 anos, atuando em casamentos, aniversários, estúdio e eventos sociais. Em 2005, migrei para o digital, estudando edição de vídeo com foco na suíte Adobe, e aprendi Photoshop e Illustrator de forma autodidata. Em 2023, concluí o curso de Design Gráfico pela EBAC para aprimorar meus conhecimentos. Desde 2015, atuei com parlamentares, adquirindo experiência no audiovisual político. Atualmente, produzo clipes, books, editoriais, filmes publicitários e independentes, além de artes visuais em geral.
            </p>
          </div>
        </div>
      </div>

       <!-- Card Rodrigro Biazi DIRETOR MUSICAL E INSTRUTOR MUSICAL -->
       <div class="col-lg-4 col-md-6 mb-4">
        <div class="team-card">
          <div class="team-image">
            <div class="team-image placeholder-image">
            <div class="placeholder-text">Foto em breve</div>
          </div>
          </div>
          <div class="team-content">
            <h3>Rodrigo Biazi</h3>
            <h4>Diretor Musical e Instrutor Musical</h4>
            <p>
              Com uma trajetória sólida construída em mais de duas décadas de prática, palcos e estúdios, atuo como
              Diretor Musical e Instrutor de Música há mais de 5 anos (especializado em piano, contrabaixo e guitarra).
              Minha formação une a erudição técnica do **Conservatório de Piano Tucuruvi** ao desenvolvimento intuitivo
              da percepção auditiva e à vivência de palco. O resultado é um método pedagógico equilibrado, prático e
              eficiente, com um histórico de alunos extremamente satisfeitos e realizados com seus avanços.
            </p>
          </div>
        </div>
      </div>

        <!-- Card Rodrigro Biazi DIRETOR MUSICAL E INSTRUTOR MUSICAL -->
       <div class="col-lg-4 col-md-6 mb-4">
        <div class="team-card">
          <div class="team-image">
            <div class="team-image placeholder-image">
            <div class="placeholder-text">Foto em breve</div>
          </div>
          </div>
          <div class="team-content">
            <h3>Rafael</h3>
            <h4>Co-Produtor e Lider de Instrutores</h4>
            <p>
              Músico, guitarrista, violonista, baixista e gaitista. Iniciou os estudos aos 14 anos passando por diversos professores, visando estudar diversos estilos como: Blues, Rock, Bossa Nova, Choro e Clássico.
              Passou a maior parte do tempo sendo autodidata, com extensa experiência em apresentações ao vivo, montagem de palco e direção musical.

              Os últimos trabalhos incluem produção de shows pela Produtora Capijo, Guitar Tech pelo festival Franco do Rock 2026 e direção musical do espetáculo Escola do Rock pelo grupo Teatral ACEG.

            </p>
          </div>
        </div>
      </div>

      <!-- Card T.I -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="team-card">
          <div class="team-image">
            <img src="assets/img/equipe/Tiago.jpeg" alt="Tiago Barbosa">
          </div>
          <div class="team-content">
            <h3>Tiago Barbosa</h3>
            <h4>Desenvolvedor Web</h4>
            <p>
              Desenvolvedor Web, responsável pelo desenvolvimento e manutenção do site da Capijo Music Produções,
              implementando soluções inovadoras e garantindo a melhor experiência para os usuários.
            </p>
            <a href="https://tiago-barbosa.vercel.app/" target="_blank" class="portfolio-link">
              Ver Portfólio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
