<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/banner/logo4.png" alt="Nosso logo">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" [class.show]="isMenuOpen" id="navbarSupportedContent">
      <div class="nav-center">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              (click)="closeMenu()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/artistas" routerLinkActive="active" (click)="closeMenu()">Artistas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudio" routerLinkActive="active" (click)="closeMenu()">Estudio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/eventos" routerLinkActive="active" (click)="closeMenu()">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parceiros" routerLinkActive="active" (click)="closeMenu()">Parceiros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contato" routerLinkActive="active" (click)="closeMenu()">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/equipe" routerLinkActive="active" (click)="closeMenu()">Equipe</a>
          </li>
        </ul>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61564964385846" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.youtube.com/@CapijoProdu%C3%A7ao" target="_blank" aria-label="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/capijoproducao" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/5511989883854" target="_blank" aria-label="WhatsApp">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</nav>